{% extends 'base.html' %}

{% block title %} ☀ Туры без ночных переездов | НатИн трэвэл {% endblock %}
{% block hello-text %}  БЕЗ НОЧНЫХ ПЕРЕЕЗДОВ {% endblock %}

{% block content %}

<div class="tours" style="position: absolute; top: 45em; width: 100%;" align="center">
    <table style="border-collapse: collapse">
        {% for tour in tours_without_night_crossings %}
        <tr style="">
            <td rowspan="2" style="border-bottom: 3em solid #fcfcfc">
                <a href="{% url 'tour_detail' pk=tour.pk %}">
                    <img src="{{ tour.image.url }}" style="width: 25em">
                </a>
            </td>
            <td style="padding-left: 2em; padding-bottom: 1.2em;  background-color: #F6F6F6">
                <p>
                    <font style="font-size: 2em">
                        <a href="{% url 'tour_detail' pk=tour.pk %}" style="color: black;">
                            {{ tour.title }}
                        </a>
                    </font>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 45em; padding-left: 2em; border: 0;
            vertical-align: top;  background-color: #F6F6F6; border-bottom: 3em solid #fcfcfc">
                Страна: {{ tour.country }} <br><br>
                Цена: {{ tour.price }}{{ tour.currency }} <br>
                <font style="white-space: pre-line">
                    {{ tour.short_description }} </font>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
